input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button[type="submit"],
select,
option,
textarea {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 8px;
  outline: none;
  background-color: rgb(240, 242, 245);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
