header {
  background-color: #FFFFFF;
  padding: 10px 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  .main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    &__item {
      background-color: rgb(228, 230, 235);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 3px;
        background-color: #fd7903;
        transition: width 200ms;
      }
        &:before {
            content: attr(data-title);
            position: absolute;
            bottom: -40px;
            background-color: #1c1e21;
            color: #FFFFFF;
            border-radius: 5px;
            padding: 5px;
            font-size: 11px;
            opacity: 0;
            white-space: nowrap;
            letter-spacing: .5px;
            transition: opacity 500ms;
        }

      &.active, &:hover {
        color: #fd7903;
        &:after {
          width: 100%;
        }
      }
        &:hover {
            &:before {
                opacity: 0.8;
                transition-delay: 200ms;
            }
        }
    }

    @include media-phone-small {
      padding: 0;
    }

  }

    #user-menu {
        display: none;
        position: absolute;
        right: 10px;
        top: 60px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
        width: 300px;
    }
}
